<app-logout-button> </app-logout-button>


<div style="text-align: center; display:flex; justify-content: center;margin-top: 8%;">
    <div class="card" style="width: 18rem;">
        <img src={{characterImage}} class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #343a40; ">
            <h5 class="card-title" style="color:#ceffbf">{{characterName}}</h5>
            <p class="card-text" style="color:#ceffbf">Genero:{{characterGender}}</p>
            <p class="card-text" style="color:#ceffbf">Genero:{{characterSpecies}}</p>
        </div>
    </div>

</div>
<app-volver-button></app-volver-button>